@model ExploreCalifornia.Models.Entry

@{
    ViewData["Title"] = "View";
}

<style>
    #PDwrapper {
        padding: 25px;
        margin: 70px;
        width: 75%;
        height: auto;
    }

</style>


<div id="PDwrapper">
    <div class="row">
        <div class="col-md-10">
            <h1> @Html.DisplayFor(model => model.title) Pain Diary Details<small class="text-muted">&emsp;Date created:   @Html.DisplayFor(model => model.creationDate) </small></h1>
        </div>
        <div class="col-md-2">
            <a href="#"><span class="btn btn-outline-info"><span class="flaticon-edit-1"></span>&emsp;Edit</span></a>
        </div>
    </div>

    <div>

        <hr />

        <div class="row mb-4">
            <div class="col-md-4">
                <img src="https://via.placeholder.com/300?text=Diagram%20of%20Body%20parts" class="img-fluid" alt="Responsive image" />
            </div>
            <div class="col-md-8">
                <table id="myTable" class="display">
                    <thead>
                        <tr>
                            <th>Pain Area</th>
                            <th>Intensity</th>
                            <th>Time Added</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.painArea)</td>
                            <td class="text-warning">6/10</td>
                            <td>03:40 PM</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.painArea)</td>
                            <td class="text-info">4/10</td>
                            <td>11:05 AM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end row -->
        <div class="note-content">
            <h4>Notes</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Last Modified</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc laoreet scelerisque laoreet..</td>
                        <td>Text</td>
                        <td>01/01/19, 03:40 PM</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc laoreet scelerisque laoreet..</td>
                        <td>Audio</td>
                        <td>13/01/19, 11:05 AM</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a asp-action="Index">Back to List</a>
</div>

